/* colors #DCC278 #844A36 */

* {
    font-family: 'Amatic SC', cursive;
}

nav {
    height: 5em;
    background-color: #DCC278;
    color: #595F33;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 70px;
}

h2 {
    font-size: 3em;
    color: #844A36;
}
h3 {
    font-size: 2.5em;
}
h4 {
    font-size: 2em;
}
p {
    font-size: 1.5em;
}

header {
    background-image: url(../assets/images/header.jpg);
    background-position: center;
    background-size: cover;
    display: auto;
    height: 100%;
    width: 100%;
    text-align: center;
}


footer {
    font-weight: bolder;
    padding-top: .5em;
    text-align: center;
    background-color: #595F33;
    height: 36px;
    color: #DCC278;
}

.brand {
    float: left;
    font-weight: 600;
    margin-top: 20px;
    margin-LEFT: 10px;
    font-size: 35px;

}

.burger {
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

.menu {
    float: rigth;
    text-align: right;
}

.menu li {
    display: inline-block;
    height: 56px;
    padding: 20px 10px;
    font-size: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    color: #DCC278;
}

.header-cont {
    padding: 2em;
    background-color: rgb(220, 194, 120, 0.3);
    width: 100%;
}

.main-information p {
    text-indent: 10%;
    text-align: justify;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

.picture {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width:576px) {
    [class *='col-'] {
        width: 100%;
    }
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 3em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 1.5em;
    }
    p {
        font-size: 20px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header-cont {
        padding: 4em;
    }
    .brand {
        margin-top: 1vh;
        font-size: 2em;
    }
}

@media (min-width:576px) {
    .hide-on-desktop {
        display: none;
    }
    h1 {
        font-size: 80px;
    }
}
